<h1>Flights Index</h1>

<ul>
  <% Flight.order_by_most_passengers do |flight| %>
    <section id="flight-<%= flight.id %>">
      <li><ul>Flight Number: <%= flight.number %><br>
      <% flight.passengers.each do |passenger| %>
        <section id="passenger-<%= passenger.id %>">
          <li><%= passenger.name %><br>
          <%= link_to "Remove Passenger", "/passengers/#{passenger.id}", method: :delete %></li>
        </section>
      <% end %></ul></li>
    </section>
  <% end %>
</ul>
